.game-bg-color{
    background-color: black;
}

.game-text-color{
    color: rgb(163, 183, 236);
}

.game-para-color{
    color: white;
}

.game-btn-color{
    background-color: mintcream;
}

.game-h2-bg{
    background-color: gray;
}
.game-btn-buy{
    background-color: gray;
}

/* css */
.card-info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    /* justify-items: center; */
}

.card-detail{
    display: flex;
    align-items: center;
    padding: 80px;
    
}



